<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RingIndex" value="2"/>
    <add key="Port" value="5002"/>
    <add key="Channel" value="Tcp"/>
    <add key="Secure" value="false"/>
  </appSettings>
  <system.runtime.remoting>
    <application>
      <lifetime leaseTime="0" renewOnCallTime="2S" leaseManagerPollTime="1S" />
      <channels>
        <channel ref="tcp" port="5002"  >
          <clientProviders>
            <formatter ref="binary" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <!--TODO: Define lifetime-->
        <wellknown mode="Singleton" type="SuperSoftware.Server.Server, SuperServer" objectUri="ZoneServer.service" />
      </service>
    </application>
  </system.runtime.remoting>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>